<%= form_for @branch do |f| %>
    <div class="field">
        <%= f.label "Description" %>
        <%= f.text_field :description %>
    </div>
    <div class="field">
        <%= f.label "Address" %>
        <%= f.text_field :address %>
    </div>
    <div class="field">
        <%= f.label "Phone" %>
        <%= f.text_field :phone %>
    </div>
<% end %>